<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
  <button type="button" v-on:click="show=!show" name="" >Show/Hide</button>
  <p v-if="show">缘来是你</p>
  <p v-else="show">原来是我</p>
  <hr>
  <ul>
    <li v-for="person in persons">{{person.name}}-age:{{person.age}}</li>
  </ul>
</div>
</body>
</html>
<script src="https://vuefe.cn/js/vue.js" charset="utf-8"></script>
<script type="text/javascript">
new Vue({
  el:'#app',
  data:{
    show:true,
    persons:[
      {name:'max',age:27},
      {name:'nora',age:25},
      {name:'chris',age:30}
    ]
  }
})
</script>
